<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<form method="POST" action="/blogs/login">
	
	{%csrf_token%}
	<label>User Name</label><br>
	{{form.username}}<br><br>
	<label>Password</label><br>
	{{form.password}}<br><br>
	<input type="submit" name="submit" value="Login"> 
</form>	

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}  

</body>
</html>
